block css
    link(rel="stylesheet" href="/normalize.css/normalize.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/leaflet/dist/leaflet.css") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/@nextgis/leaflet-measure/dist/leaflet-measure.css")
    link(rel="stylesheet", href="/leaflet-measure-path/leaflet-measure-path.css")